header.header{
    /* border: 1px solid #E7F5DE; */
    min-width: 100%;
    height: 100px;
    position:relative;
    top: 0;
    z-index: 10;
    display: flex;
    background-color: rgba(0, 0, 0, 0.03);
}
@media (min-width: 768px) and (max-width: 1365.98px){
  header.header{
    min-width: 1086px;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px){
  header.header{
    min-width: 608px;
    margin: 0 auto;
  }
}

header.header div.logo{
    display: inline-block;
    min-width: 360px;
    height: 100px;
    /* border: 1px solid red; */
    background-image: url("../photo/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


header.header div.header_flex{
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

header.header div.header_flex div.hamburger{
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}
@media (min-width: 768px) and (max-width: 1365.98px){
  header.header div.header_flex div.hamburger{
    display: inline-block;
    order:2;
    line-height: 100px;
    cursor: pointer;
    color:white;
    font-size: 28px;
}
}

@media (max-width: 767.98px){
  header.header div.header_flex div.hamburger{
    display: inline-block;
    order:2;
    line-height: 100px;
    cursor: pointer;
    color:white;
    font-size: 28px;
}
}

header.header div.header_flex div.nav_heart{
    /* line-height: 100px; */
    /* border: 1px solid #000000; */
    margin: 5px;
    display: inline-block;
    order: 2;
}
@media (min-width: 768px) and (max-width: 1365.98px){
  header.header div.header_flex div.nav_heart{
    order: 1;
  }
}

@media (max-width: 767.98px){
  header.header div.header_flex div.nav_heart{
    order: 1;
  }
}

header.header div.header_flex div.nav_heart a.heart{
  line-height: 100px;
  cursor: pointer;
  color:red;
}
nav.nav{
  display: inline-block;
  /* border: 1px solid black; */
  height: 100px;
  order: 1;
}
@media (min-width: 768px) and (max-width: 1365.98px){
  nav.nav{
    display: none;
    position: absolute;
    top:100px;
    right:0;
  }
}

@media (max-width: 767.98px){
  nav.nav{
    display: none;
  }
}

ul.nav_list{
  padding: 0;
  margin-top: 30px;;
  /* border: 1px solid red; */
  font-size:0;
}
@media (min-width: 768px) and (max-width: 1365.98px){
  ul.nav_list{
    margin: 0;
  }
}

@media (max-width: 767.98px){
  ul.nav_list{
    margin: 0;
  }
}

ul.nav_list > li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size:16px;
  vertical-align:top;
}
@media (min-width: 768px) and (max-width: 1365.98px){
  ul.nav_list > li{
    display: block;
    background-color: #5E454B;
    min-width: 150px;
  }
}

@media (max-width: 767.98px){
  ul.nav_list > li{
    display: block;
    background-color: #5E454B;
    min-width: 150px;
  }
}

ul.nav_list > li > a{
  text-decoration: none;
  /* border: 1px solid blue; */
  display: inline-block;
  padding: 5px 10px;
  color: white;
}
ul.nav_list > li > a:hover{
  background-color: #E7F5DE;
  color: #3EB3B2;
}
ul.nav_list div.adoption,
ul.nav_list div.health,
ul.nav_list div.location{
  /* border: 1px solid orange; */
  padding: 5px 10px;
  position: relative;
  color: white;
}

/* ul.nav_list div.adoption:hover,
ul.nav_list div.health:hover,
ul.nav_list div.location:hover{
  background-color: #E7F5DE;
  color: #3EB3B2;
} */

div.adoption ul.adoption_list,
div.health ul.health_list,
div.location ul.location_list{
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-color: #E7F5DE; */
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
}

@media (min-width: 768px) and (max-width: 1365.98px){
  div.adoption ul.adoption_list,
  div.health ul.health_list,
  div.location ul.location_list{
    background-color: #5E454B;
    z-index: 3;
}
}

@media (max-width: 767.98px){
  div.adoption ul.adoption_list,
  div.health ul.health_list,
  div.location ul.location_list{
    background-color: #5E454B;
    z-index: 3;
}
}

ul.adoption_list > li,
ul.health_list > li,
ul.location_list > li{
  width: 100px;
}
ul.adoption_list > li > a,
ul.health_list > li > a,
ul.location_list > li > a {
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
ul.adoption_list > li > a:hover,
ul.health_list > li > a:hover,
ul.location_list > li > a:hover{
  background-color: #E7F5DE;
  color: #3EB3B2;
}
div.adoption::after, div.health::after, div.location::after{
  content:'';
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid white;
  border-bottom:0px solid blue;
  display:inline-block;
}
div.adoption:hover ul.adoption_list,
div.health:hover ul.health_list,
div.location:hover ul.location_list{
  display:block;
}