main{
    width: 1200px;
    /* height: 1700px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    position: relative;
    background-color: #ECDFC3;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    main{
      width: 1086px;
      margin: 0 auto;
      max-width: 100%;
    }
    
  }
  @media (max-width: 767.98px){
    main{
      width: 608px;
      margin: 0 auto;
      max-width: 100%;
    }
  }

main div.bread{
    height: 21px;
    font-size: 16px;
    color:#3EB3B2;
    display: inline-block;
    position: absolute;
    top:20px;
    left:5px;
}

main div.bread >a {
    font-size: 16px;
    color:#3EB3B2;
    text-decoration: none;
}

main article.news{
    width: 1140px;
    /* height: 1600px; */
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 58px;
    margin: 0 auto;
    margin-top:130px;
    margin-bottom:105px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    main article.news{
        width: calc( 100%  - 100px);
        margin-top: 50px;
        margin-bottom:20px;
    }
  
}
@media (max-width: 767.98px){
    main article.news{
        width: calc( 100%  - 20px);  
        margin-top: 50px;
        margin-bottom:20px; 
        margin-bottom:20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


article.news > img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin: 50px;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    article.news > img{
        display: none;   
    }
  
}
@media (max-width: 767.98px){
    article.news > img{
        display: none;    
    }    
}


article.news div.title{
    width: 530px;
    height: 110px;
    margin-top:100px;
    color: #5E454B;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    article.news div.title{
        width: 530px;
        margin-top:30px;
        margin-left: 30px;
        
    }      
  
}
@media (max-width: 767.98px){
    article.news div.title{
        width: 200px;
        max-width: 90%;
        margin-left: 15px;
        margin-top:10px;
        margin-bottom: 0px;
        word-break: keep-all;
        
    }   
}


@media (min-width: 768px) and (max-width: 1199.98px){
    article.news div.title > h1{
        font-size: 26px;
    }
  
}
@media (max-width: 767.98px){
    article.news div.title > h1{
        font-size: 18px;
        margin-bottom: 0px;
    }
}



article.news div.title hr{
    background-color: #5E454B;
}


article.news div.date{
    width: 176px;
    display: inline-block;
    height: 110px;
    border: 1px solid#E7F5DE;
    font-size: 32px;
    text-align: center;
    position: relative;
    top:-200px;
    left: 450px
}
@media (min-width: 768px) and (max-width: 1199.98px){
    article.news div.date{
        top:0;
        left: 0;
        width: 90px;
        height: 60px;
        margin-left: 10px;
        margin-top: 30px;
        font-size: 26px;
    }
  
}
@media (max-width: 767.98px){
    article.news div.date{
        top:0;
        left: 0;
        width: 90px;
        height: 43px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 50px;
        font-size: 16px;
        
    }
  
}


article.news div.date span{
    width: 100%;
    display: inline-block;
    height: 48%;
    color: #5E454B;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    article.news div.date span{
        display: inline-block;
    }
  
}




article.news div.date span:first-child{
    background-color: #E7F5DE;
}


article.news div.content{
    width: 1000px;
    color: #5E454B;
    word-break: break-all;
    font-size: 16px;
    line-height: 2.5;
    margin:  0 auto;
    text-indent: 2em;  
    max-width: 90%;
}
@media (max-width: 767.98px){
    article.news div.content{
        width: 90%;
        margin-top: 10px;
        line-height: 1.4;   
        
    }   
}

