* {
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
img{
  /* max-width: 100%; */
}
nav.nav{
  order: 1;
}

main{
  order:2;
}
aside{
order:2;
position: fixed;

}

footer{
  order: 4;
}

nav.nav_on div.adoption,
nav.nav_on div.adoption ul li:nth-child(1){
background-color: #3EB3B2;
}
main div.bread >span{
color: #5E454B;
}

footer.footer{
  order: 6;
}