main{
  width: 1200px;
  /* height: 1750px; */
  padding-bottom: 100px;
  margin: 0 auto;
  /* border: 1px solid black; */
  position: relative;
  background-color: #ECDFC3;
}
@media (min-width: 768px) and (max-width: 1199.98px){
  main{
    width: 1086px;
    margin: 0 auto;
    max-width: 100%;
  }
  
}
@media (max-width: 767.98px){
  main{
    width: 608px;
    margin: 0 auto;
    max-width: 100%;
  }
}

div.bread{
  height: 21px;
  font-size: 16px;
  color:#3EB3B2;
  display: inline-block;
  position: absolute;
  top:20px;
  left:5px;
}

div.bread >a {
  font-size: 16px;
  color:#3EB3B2;
  text-decoration: none;
}

