main{
    width: 1200px;
    /* height: 1700px; */
    margin: 0 auto;
    padding-bottom: 50px;
    /* border: 1px solid black; */
    position: relative;
    background-color: #ECDFC3;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    main{
      width: 1086px;
      margin: 0 auto;
      max-width: 100%;
    }
    
  }
  @media (max-width: 767.98px){
    main{
      max-width: 608px;
      margin: 0 auto;
    }
  }


main div.bread{
    height: 21px;
    font-size: 16px;
    color:#3EB3B2;
    display: inline-block;
    position: absolute;
    top:20px;
    left:5px;
}

main div.bread >a {
    font-size: 16px;
    color:#3EB3B2;
    text-decoration: none;
}
main article.list{
    width: 1064px;
    height: 1546px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 28px;
    margin: 0 auto;
    margin-top:105px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1199.98px){
  main article.list{
    width: 950px;
    max-width: 100%;
  }
  
}

 @media (max-width: 767.98px){
    main article.list{
      width: 550px;
      height: 1200px;
      padding-bottom: 10px;
      max-width: 100%;
    }
  }


article.list section.animal{
width: 915px;
/* height: 290px; */
border-radius: 28px;
border: 1px solid #3EB3B2;
margin: 0 auto;
margin-top:30px;
display: inline-block;
position: relative;
}
@media (min-width: 768px) and (max-width: 1199.98px){
  article.list section.animal{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
}

@media (max-width: 767.98px){
    article.list section.animal{
        width: 500px;
        /* height: 600px; */
    }
  }


section.animal div.photo{
    width: 342px;
    height:253px;
    border: 1px solid #3EB3B2;
    border-radius: 28px;
    overflow: hidden;
    margin: 20px;
    display: inline-block;
}
@media (min-width: 768px) and (max-width: 1199.98px){
  section.animal div.photo{
    max-width: 300px;
    max-height:200px;
    
  }
  
}
@media (max-width: 767.98px){
    section.animal div.photo{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
  }
section.animal div.photo >img{
    max-width: 100%;
}

section.animal div.word{
    /* width: 388px; */
    /* height: 240px; */
    display: inline-block;
    line-height: 1.4;
    font-size: 30px;
    color: #3EB3B2;
    /* position: absolute; */
    vertical-align: top;
}
@media (min-width: 768px) and (max-width: 1199.98px){
  section.animal div.word{
    line-height: 1.5;
    font-size: 20px;
    margin-top: 20px; 
    margin-left: 10px; 
  }
  
}
@media (max-width: 767.98px){
    section.animal div.word{
      margin-top: 10px;  
      line-height: 1.5;
        font-size: 16px;
        margin-left: 10px; 
    }
  }

button.reserve{
    width: 163px;
    height: 73px;
    border-radius: 35px;
    font-size: 25px;
    text-align: center;
    background-color: #5E454B;
    position: absolute;
    bottom:20px;
    right: 16px;
}


button.reserve >a{
    color: #ECDFC3;
    text-decoration: none;
}
